<div class="d-none d-sm-block" style="background-color:#002b54; display: block; height: 109px;">
</div>

<div class="container">
  <h1>{{event.title}}</h1><br>
  <img src="{{imgUrl}}" width="600px" style="margin-left: 50%; transform: translate(-50%, 0);"><br><br>
  <p>{{event.desc}}</p><br>
  <h4>Дата: {{event.date}}</h4><hr>
  <h4>Коментарії:</h4>
  <div class="form-group">
    <div *ngFor="let comment of comments; index as i">
      <div class="comment">
        <span><b class="commentContent">{{commentAuthor[i]}}</b> <small>{{comment.created_at}}</small></span>
          <p class="commentContent">{{comment.content}}</p>
      </div>
    </div><br><br>
    <form (ngSubmit)="addComment(f)" #f="ngForm">
      <div class="form-group">
        <textarea rows="3" class="form-control" id="content" name="content" ngModel required></textarea>
      </div>
      <button type="submit" [disabled]="!f.valid" class="btn btn-success">Залишити коментар</button>
    </form>
  </div><hr>
  <h3>Поділитися з друзями: </h3><hr>
  <div class="fb-share-button" data-href="http://localhost:54209/events/2" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A54209%2Fevents%2F2&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>
  <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Flocalhost%3A54209%2Fevents%2F2&text=" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <hr><h3>Як дістатися?</h3>
</div>

<br><br>

<div id="mobile">
  <div class="bottomRight">
    <a href="#"><img src="assets/img/google.png"  height="50px"  class="pr-2 "></a>
    <a href="#"><img src="assets/img/appstore.png"  height="50px" class="pr-2"></a>
  </div>
</div>
