<div style="background-color:#002b54; display: block; height: 109px;">
</div>

<div class="container"><br>
  <br>
  <div *ngFor="let object of hotels; index as i" style="width:50%; display: inline-block;" >

    <div  id="card-row">

      <h3 routerLink="{{object.id}}">{{ object.title }} </h3>
      <img src="http://kr.travel{{object.main_img.url}}" width="100%" height="390px" routerLink="{{object.id}}">
      <div class="card-footer">
        <p style="transform: translate(0px, -4px);">{{object.created_at | slice:0:10}}</p>
          <span style="position: relative; bottom: 48px; left: 90%;">
            <i class="fa fa-thumbs-up fa-lg"  (click)="userLikesPost(object.id, postLikes[i], i)" id="thumb" ></i>
            <p style="display: inline; font-size: 20px; margin-left:8px;">{{postLikes[i]}}</p>
          </span>
      </div>
  </div>
  </div>


</div>

<br><br>
<div id="mobile">
  <div class="bottomRight">
    <a href="#"><img src="assets/img/google.png"  height="50px"  class="pr-2 "></a>
    <a href="#"><img src="assets/img/appstore.png"  height="50px" class="pr-2"></a>
  </div>
</div>
